@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900');

$text-font: 400 14px/1.4 'Raleway', sans-serif;
$text-color: #333;

$heading-font: 900 36px 'Roboto', sans-serif;
$heading-color: #666;

$button-font: 700 14px/1.4 'Open Sans', sans-serif;
$button-color: #666;

$primary-color: #fc0;
$secondary-color: #898f8f;
$border-width: 1px;